<h2>TVWC Links</h2>
<p>Useful links for Office Bearers</p>

<div><h3><%= link_to "Northern Rivers Wildlife Carers", "http://www.wildlifecarers.com" %></h3>
<p><%= image_tag("northenriverwildlife.jpg", :alt => "northern rivers wildlife carers" ) %> 
Northern Rivers Wildlife Carers is a licensed wildlife group covering the Byron, Ballina, Lismore and Kyogle Shire Councils. TVWC works closely with NRWC, especially where animals are found near our coverage borders.</p></div>

<div><h3><%= link_to "NSW Wildlife Council", "http://www.nwc.org.au" %></h3>
<p><%= image_tag("nwclogo.gif", :alt => "northern rivers wildlife carers" ) %> 
The peak body representing the interests of over 4000 wildlife rehabilitators in NSW, with TVWC being a member of this group.</p></div>

<div><h3><%= link_to "Friends of The Koala", "http://www.friendsofthekoala.org" %></h3>
<p><%= image_tag("foklogo.jpg", :alt => "friends of the koala" ) %> 
Friends of the Koala is the wildlife group licensed to rescue and rehabilitate koalas in the Northern Rivers of NSW, including the Tweed Shire, working closely with TVWC.
</p></div>

