<div class="row">
	<div class="span6 offset3">
		<div class="well">
<p>
  
  <h4><%= @post.topic %></h4>
</p>
 
<p>
    <%= @post.body %>
</p>
<p> Post created by: <%= @post.user.name %>
	</p>
 <%= link_to 'Edit Post', edit_post_path(@post) %> |
 <%= link_to 'Back to Posts', posts_path %> 
 <%= link_to 'New Post', new_post_path %>
	</div
 </div>
</div>
 
